name: Tests

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    uses: mjtomei/omerta/.github/workflows/test-python.yml@master
    secrets: inherit
    with:
      package-path: '.'
      package-name: 'omerta-lang'
      test-path: 'tests/'
